body{
    background-color: rgb(255,255,255);

}
.img{
    background-color:rgb(178,26,38);
    color:wheat;
    margin-bottom: 2%;
}

nav{
    /* text-align: right; */
    font-size: 20px;
    margin-top: -2%;
    background-color: rgb(217, 32, 47);
    height: 80px;
}
h1{
    margin-left: 5%;
}
p{
    margin-left: 5%;
}
h2{
    margin-left: 50%;
    font-size: 15px;
    color: red;
}
.jit{
    margin-left: 5%;
}
.skill1{
    display: flex;
    }
.pic1{
 margin-left: 5%; 
 }
 .pic2{
margin-left: 7%;
}
.skills{
  display: flex;

}
.skil{
    background-color: rgb(255,255,255);
}
.footer{
    margin-top: -31%;
    margin-left: 5%;
}
.last{
    text-align: center;
    font-size: 13px;
    background-color:rgb(60,58,54);
    height: 400px;
}