body{
    background-color: rgb(255,255,255);

}
.img{
    background-color:rgb(178,26,38);
    color:wheat;
    margin-bottom: 2%;

}
nav{
    /* text-align: right; */
    font-size: 20px;
    margin-top: -2%;
    background-color: rgb(217, 32, 47);
    height: 80px;
}
.picc{
    margin-left: 68%;
    margin-bottom: -15%;
}
.last{
    text-align: center;
    font-size: 13px;
    background-color:rgb(60,58,54);
    height: 400px;
}
.last h1{
    /* margin-bottom: 15%; */
    color: white;
}
.last h2{
    color: red;
    margin-top: 3%;
}
p{
    margin-left: 10%;
}
.quiz{
    margin-left:10% ;
}
h1{
    margin-left: 9%;
}
.footer{
    margin-top: -31%;
    margin-left: 5%;
}