body{
    background-color: rgb(255,255,255)

}
.img{
    background-color:rgb(178,26,38);
    color:wheat;
    margin-bottom: 2%;
}
nav{
    /* text-align: right; */
    font-size: 20px;
    margin-top: -2%;
    background-color: rgb(223,35,51);
    height: 80px;
}

.pic{
    margin-top: 2%;
    margin-left: 5%;
}
.pic p{
    margin-top: -15%;
    margin-left: 34%;
}
.pic h6{
    margin-left: 2%;
    font-size: 16PX;
    margin-top: 5%;
}
.screen{
    margin-left: 70%;
    margin-top: -22%;
}
.pic1 h1{
    margin-top: 15%;
    margin-left: 5%;

}
.pic1 p{
    margin-top: -13%;
    margin-left: 37%;  
}
.pic1 h6{
    margin-left: 2%;
    font-size: 16PX;
    margin-top: 3%;  
}
.pic1 img{
    margin-left: 3%;
}
.last{
    text-align: center;
    font-size: 13px;
    background-color:rgb(60,58,54);
    height: 400px;
}
.last h1{
    /* margin-bottom: 15%; */
    color: white;
}
.last h2{
    color: red;
    margin-top: 3%;
}
.img11{
    margin-left: 3%;
    margin-top: -25%;
}